/* GAURAV */
#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
.high-score:hover{
    transform: scale(1.020);
}

nav{
    background-color: #56a5eb;
    border-radius: 3px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    
}

nav a:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

#highScores{
    margin-left: 30%;
    text-align: center;
}